.App {
  overflow-x: hidden;
}
@media only screen and (max-width: 500px) {
  .main-container {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/main/sitting-on-edge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner-main {
    height: 90vh;
    width: 90vw;
  }
  .logo-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
  }
  .logo-name-container>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .logo-name-container>div>h1{
    margin-left: 1em;
  }
  .name {
    color: rgb(0, 83, 130);
    font-size: 1.4em;
    letter-spacing: .7em;
    margin: 0;
    padding: 0;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
  }
  .name-t {
    color: rgb(0, 83, 130);
    letter-spacing: 1em;
    font-size: .4em;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -8px 7px transparent;
  }
  .main-logo {
    height: 10.5em;
    width: 7.5em;
    margin-right: 2em;
    box-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
  }


  .navigation-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      height: 8vh;
      top: 200;
      z-index: 1;
      color: white;
      margin-top: 1em;
  }
  .nav-logo {
    height: 2em;
    margin: .5em;
    padding: .5em;
    border: 1px solid rgba(53, 69, 76, 1);
    background-color: rgba(113, 93, 94, .7);
  }


  .aboutmev2-container {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/main/blue-snowboarding-skinny.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .intro-about-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .about-title {
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .about-title>h1{
    margin: 0;
    color: rgba(53, 69, 76, 1);
    text-shadow: 1px 2px 6px rgba(0,0,0,0.6),
                 0px -5px 35px rgba(255,255,255,0.2);
  }
  .descriptionV2 {
    font-size: .5em;
    width: 50vw;
    margin: 3em;
    color: white;
    background-color: rgba(113, 93, 94, .9);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0px 5px 35px 15px rgba(50, 60, 76, 0.8);
  }
  .descriptionV2>p {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: .05em;
  }


  .projects-containerv2 {
    height: 200vh;
    width: 100vw;
    background-image: url('./assets/images/nathan-anderson-152403.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .projects-wrapperv2 {
    width: 95vw;
    height: 195vh;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }
  .project-box {
    height: 45vh;
    width: 90vw;
    box-shadow: 5px 8px 28px #888888;
    margin: .5em;
  }
  .logo-desc {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .logo-desc>a{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project-logo {
    max-height: 6em;
    border-radius: 5px;
    box-shadow: -5px 5px 18px black;
  }
  .project-logo:hover{
    transform: rotate(-10deg);
    animation: 1s;
  }
  .pdv2 {
    background-color: rgba(255,255,255,0.2);
    color: white;
    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;
    width: 90%;
    margin: .5em;
    border-radius: 5px;
    letter-spacing: .1em;
    overflow-y: scroll;
    font-size: .5em;
  }
  .skill {
    max-width: .2em;
  }
  .project-skills {
    align-items: center;
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: center;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: rgba(255, 255, 255, .3);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 70px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 50px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 32s linear infinite;
    display: flex;
    width: calc(90px * 11);
  }
  .slider .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3em;
    margin-right: .5em;
    margin-left: .5em;
  }


  .contactv2-container {
    background-color: rgb(202, 198, 154);
    height: 45vh;
    width: 100vw;
    background-image: url('./assets/images/main/red-blue-contact.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .social-links {
    width: 70%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: rgba(53, 69, 76, 1);
    text-shadow: 1px 5px 6px rgba(0,0,0,0.6),
                 0px -5px 35px rgba(255,255,255,0.2);
    font-size: 1em;
    margin-top: 4em;
  }
  .contact-me>h1{
    margin: 0;
  }
  .cardv2 {
    height: 30vh;
    width: 78vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: rgb(0, 178, 164);
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
  }
  .phone-emailv2 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 1em;
  }
  .contact-info {
    color: white;
    height: 2vh;
    padding-right: 1em;
    padding-bottom: .2em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .2px solid white;
    visibility: hidden;
  }


  .contact-info>h5 {
    font-size: .7em;
    letter-spacing: .2em;
  }
  .logo-container {
    background: linear-gradient(0deg, white, black);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 178, 164);
  }
  .title {
    position: absolute;
    width: 100%;
    align-self: flex-start;
    height: 15vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title>h1 {
    font-size: 2em;
    text-shadow: .5px 3px 2px rgba(0,0,0,0.3),
                 0px -5px 55px rgba(255,255,255,0.1);
    color: rgba(0,178,164,0.8);
  }
  .title>h6 {
    color: rgba(0,178,164,0.8);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
  }
  .title>h1, .title>h6 {
    padding: 0;
    padding-left: .2em;
    margin: .2em;
    letter-spacing: .4em;
  }
  .nav-line {
    position: absolute;
    z-index: 0;
    left: 50%;
    width: 3px;
    height: 70vh;
    background-color: rgb(0, 178, 164);
  }
  .l-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 10vh;
    transition: 3s;
  }
  .hover {
    width: 3px;
    height: 72vh;
    margin-top: 3em;
    background-color: rgb(0, 178, 164);
    transition: 2s;
  }
  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    bottom: 0px;
  }
  .arrows path {
    stroke: rgb(0, 178, 164);
    fill: transparent;
    stroke-width: 1.5px;
  }
  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  .logo {
    max-height: 36vh;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transition: 2s
  }
  .logo-hover {
    max-height: 46vh;
    transition: 2s;
  }
  .logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ball {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(255, 142, 0);
    background-image: radial-gradient(circle 9.5em at 0em 0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), radial-gradient(circle 5.1em at .3em .3em, rgba(255, 255, 255, .7), rgba(0, 0, 0, 0));
    position: relative;
  }
  .aboutme-container {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  .headshot {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 25px black;
  }
  .image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-self: center;
    background-color: rgb(255, 142, 0);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description {
    width: 100%;
    font-size: .9em;
  }
  .skills-container {
    background-color: rgb(255, 142, 0);
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .skill-head {
    font-size: 2em;
    letter-spacing: .5em;
  }
  .logos-under {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    width: 100vw;
    margin-left: .6em;
    margin-right: .6em;
  }
  .languages {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .4em;
  }
  .lang-logo {
    max-height: 3em;
    margin: .1em;
    filter: grayscale(100%) drop-shadow(0 0 5px black);
  }
  .js, .python {
    max-height: 2.5em;
  }
  .github {
    max-height: 2.5em;
  }
  .redux, .html {
    max-height: 1.3em;
  }
  .slack, .rp, .rd, .agile {
    max-height: 2em;
  }
  .react, .git {
    max-height: .8em;
  }
  .pair, .tdd, .pivotal, .chrome {
    max-height: 1em;
  }
  .resume-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid black;
    border-radius: 5px;
    padding-left: .3em;
    padding-right: .3em;
    box-shadow: inset 0 0 5px black;
    margin-top: .3em;
    background-color: #333;
  }
  .download-logo {
    max-height: .5em;
    color: white;
    filter: invert(1);
  }
  .resume {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .resume>p {
    font-size: .2em;
    letter-spacing: 1em;
    margin-left: 1em;
  }
  .projects-container {
    background-color: rgb(0, 178, 164);
    height: 100vh;
    width: 100vw;
  }
  .contact-container {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/phone-bg-4phone.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }
  .name-title {
    width: 100vw;
    color: rgb(0, 178, 164);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .name-title>h1 {
    font-size: 1.8em;
    letter-spacing: .2em;
    color: rgb(0, 178, 164);
    margin-bottom: .2em;
    text-decoration-color: black;
  }
  .white{
    color: white;
  }
  .card {
    height: 70vh;
    width: 78vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
  }
  .contact-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-left: .2em;
  }
  .contact-icon {
    max-height: 1.8em;
    margin: 0;
    padding: .5em;
  }
  .contact-icon:hover {
    cursor: pointer;
  }
  .phone-email {
    margin-top: 2em;
    width: 98%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .email, .phone {
    font-size: .75em;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    padding-bottom: .5em;
    margin: 1em;
    letter-spacing: .1em;
  }
  .ph-mail-icon {
    height: 1.5em;
    margin-right: .3em;
  }
  .email:hover, .phone:hover {
    font-size: .9em;
  }
  .copyright{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: .5em;
  }
  .copyright>p {
    margin: 0;
    color: white;
    font-style: thin;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .main-container {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/main/sitting-on-edge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner-main {
    height: 90vh;
    width: 90vw;
  }
  .logo-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
  }
  .logo-name-container>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .logo-name-container>div>h1{
    margin-left: 1em;
  }
  .name {
    color: rgb(0, 83, 130);
    font-size: 2.6em;
    letter-spacing: .7em;
    margin: 0;
    padding: 0;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
  }
  .name-t {
    color: rgb(0, 83, 130);
    letter-spacing: 1em;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -8px 7px transparent;
  }
  .main-logo {
    height: 10.5em;
    width: 7.5em;
    margin-right: 2em;
    box-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
  }

  .navigation-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      height: 8vh;
      top: 200;
      z-index: 1;
      color: white;
      margin-top: 2em;
    }
  .nav-logo {
    height: 4em;
    margin: 2em;
    margin-top: 1em;
    padding: .5em;
    border: 1px solid rgba(53, 69, 76, 1);
    background-color: rgba(113, 93, 94, .7);
  }


  .aboutmev2-container {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/main/blue-snowboarding.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .intro-about-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .about-title {
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .about-title>h1{
    margin: 0;
    color: rgba(53, 69, 76, 1);
    text-shadow: 1px 2px 6px rgba(0,0,0,0.6),
                 0px -5px 35px rgba(255,255,255,0.2);
  }
  .descriptionV2 {
    width: 50vw;
    margin: 3em;
    color: white;
    background-color: rgba(113, 93, 94, .9);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0px 5px 35px 15px rgba(50, 60, 76, 0.8);
  }
  .descriptionV2>p {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: .05em;
  }


  .contactv2-container {
    background-color: rgb(202, 198, 154);
    height: 50vh;
    width: 100vw;
    background-image: url('./assets/images/main/red-blue-contact.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .social-links {
    width: 70%;
    margin: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: rgba(53, 69, 76, 1);
    text-shadow: 1px 5px 6px rgba(0,0,0,0.6),
                 0px -5px 35px rgba(255,255,255,0.2);
    font-size: 2em;
  }
  .contact-me>h1{
    margin: 0;
  }
  .cardv2 {
    height: 30vh;
    width: 78vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: rgb(0, 178, 164);
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
  }
  .phone-emailv2 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 3em;
  }
  .contact-info {
    color: white;
    height: 2vh;
    padding-right: 1em;
    padding-bottom: .2em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .2px solid white;
    visibility: hidden;
  }

  .projects-containerv2 {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/nathan-anderson-152403.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .projects-wrapperv2 {
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }
  .project-box {
    height: 20vh;
    width: 90vw;
    box-shadow: 5px 8px 28px #888888;
    margin: .5em;
  }
  .logo-desc {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .project-logo {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    /* margin: .5em; */
    box-shadow: -5px 5px 18px black;
  }
  .project-logo:hover{
    transform: rotate(-10deg);
    animation: 1s;
  }
  .pdv2 {
    background-color: rgba(255,255,255,0.2);
    color: white;
    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;
    width: 70%;
    margin: .5em;
    border-radius: 5px;
    letter-spacing: .1em;
    overflow-y: scroll;
  }
  .skill {
    max-width: .2em;
  }
  .project-skills {
    align-items: center;
    display: flex;
    height: 45%;
    width: 100%;
    justify-content: center;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: rgba(255, 255, 255, .3);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 70px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 32s linear infinite;
    display: flex;
    width: calc(90px * 11);
  }
  .slider .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3em;
    margin-right: .5em;
    margin-left: .5em;
  }

  .contact-info:hover {
    cursor: pointer;
  }
  .contact-info>h5 {
    font-size: 1em;
    letter-spacing: .2em;
  }
  .logo-container {
    background: linear-gradient(0deg, white, black);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    position: absolute;
    width: 100%;
    align-self: flex-start;
    height: 15vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 178, 164)
  }
  .title>h1 {
    font-size: 3.5em;
    color: rgba(0,178,164,0.8);
    text-shadow: 0 1px 0 rgb(1, 112, 103),
             0 2px 0 rgb(1, 112, 103),
             0 3px 0 rgb(0, 0, 0),
             0 20px 20px rgba(0,0,0,.15);
  }
  .title > h1::after {
    position: absolute;
    z-index: 1;
    bottom: 28px;
    display: block;
    content: 'KYLE GIBSON';
    transform: rotateX(70deg);
    opacity: .1;
    font-style: italic;
  }
  .title>h6 {
    font-size: 1em;
    color: rgba(0,178,164,0.8);
    text-shadow: 0 1px 0 rgb(1, 112, 103),
           0 2px 0 rgb(1, 112, 103),
           0 3px 0 rgb(0, 0, 0),
           0 20px 20px rgba(0,0,0,.15);
  }
  .title > h6::after {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    display: block;
    content: 'SOFTWARE ENGINEER';
    transform: rotateX(70deg);
    opacity: .1;
    font-style: italic;
  }
  .title>h1, .title>h6 {
    padding: 0;
    margin: .2em;
    letter-spacing: .5em;
  }
  .nav-line {
    position: absolute;
    z-index: 0;
    left: 50%;
    width: 3px;
    height: 70vh;
    background-color: rgb(0, 178, 164);
  }
  .l-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 10vh;
    transition: 3s;
  }
  .hover {
    width: 3px;
    height: 72vh;
    margin-top: 3em;
    background-color: rgb(0, 178, 164);
    transition: 2s;
  }
  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    bottom: 0px;
  }
  .arrows path {
    stroke: rgb(0, 178, 164);
    fill: transparent;
    stroke-width: 1.5px;
  }
  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  .logo {
    max-height: 25vh;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transition: 2s;
  }
  .logo-hover {
    max-height: 35vh;
    transition: 2s;
  }
  .logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ball {
    width: 14em;
    height: 14em;
    border-radius: 150px;
    background-color: rgb(255, 142, 0);
    background-image: radial-gradient(circle 13.5em at 0em 0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), radial-gradient(circle 6.1em at .4em .4em, rgba(255, 255, 255, .7), rgba(0, 0, 0, 0));
    position: relative;
  }
  .aboutme-container {
    background-color: white;
    /* color: rgb(255, 142, 0); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4em;
  }
  .headshot {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 25px black;
  }
  .image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-self: center;
    margin-top: 1em;
    background-color: rgb(255, 142, 0);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description {
    margin-top: 3em;
    width: 100%;
    letter-spacing: .2em;
    line-height: 1.5em;
  }
  .skills-container {
    background-color: rgb(255, 142, 0);
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .skill-head {
    font-size: 3em;
    letter-spacing: .5em;
  }
  .tools-under {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    width: 100vw;
    margin-left: .6em;
    margin-right: .6em;
  }
  .logos-under {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    width: 100vw;
    margin-left: .6em;
    margin-right: .6em;
  }
  .languages {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .4em;
  }
  .lang-logo {
    max-height: 3em;
    margin: .1em;
    filter: grayscale(100%) drop-shadow(0 0 5px black);
  }
  .js, .python {
    max-height: 4em;
  }
  .rd, .agile {
    max-height: 3em;
  }
  .redux, .html, .slack, .rp, .pair, .tdd {
    max-height: 2em;
  }
  .react, .git, .pivotal, .chrome {
    max-height: 1em;
  }
  .resume-contain {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid black;
    border-radius: 5px;
    padding-left: .3em;
    padding-right: .3em;
    box-shadow: inset 0 0 15px black;
    margin-top: .3em;
    background-color: #333;
  }
  .download-logo {
    max-height: .5em;
    color: white;
    filter: invert(1);
  }
  .resume {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .resume>p {
    font-size: .2em;
    letter-spacing: 1em;
    margin-right: .5em;
    margin-left: 1em;
  }
  .projects-container {
    background-color: rgb(0, 178, 164);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
  .brunch-container, .slelp-container, .sleuth-container {
    height: 100vh;
    width: 100vw;
    z-index: 0;
  }
  .brunch-container {
    background-color: black;
  }
  .slelp-container {
    background-color: red;
  }
  .sleuth-container {
    background-color: white;
  }
  .contact-container {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/phone-bg-4phone.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .white{
    color: white;
  }
  .card {
    height: 70vh;
    width: 78vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: rgb(0, 178, 164);
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
  }
  .contact-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    padding-left: .2em;
  }
  .contact-title>span {
    font-size: 1.2em;
    letter-spacing: .3em;
  }
  .contact-title>h1 {
    font-size: 2em;
    letter-spacing: .5em;
    margin: 0;
  }
  .contact-icon {
    max-height: 1.8em;
    margin: 0;
    padding: .5em;
  }
  .contact-icon:hover {
    cursor: pointer;
  }
  .name-title {
    width: 100vw;
    color: rgb(0, 178, 164);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .name-title>h1 {
    font-size: 2em;
    letter-spacing: .2em;
    color: rgb(0, 178, 164);
    margin-bottom: .2em;
    text-decoration-color: black;
  }
  .phone-email {
    margin-top: 2em;
    width: 98%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .email, .phone {
    font-size: .75em;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin-left: 1em;
    letter-spacing: .1em;
  }
  .ph-mail-icon {
    height: 1.5em;
    margin-right: .3em;
  }
  .email:hover, .phone:hover {
    box-shadow: inset 0 0 15px 2px black;
    border: 1px solid rgb(0, 178, 164);
  }
  .copyright{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: .5em;
  }
  .copyright>p {
    margin: 0;
    color: white;
    font-style: thin;
  }
}

@media only screen and (min-width: 1025px) {
  .main-container {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/main/sitting-on-edge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner-main {
    height: 90vh;
    width: 90vw;
  }
  .logo-name-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2.5em;
    padding: .5em;
  }
  .name {
    color: rgb(0, 83, 130);
    font-size: 3.3em;
    letter-spacing: 1em;
    margin: 0;
    padding: 0;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
  }
  .name-t {
    color: rgb(0, 83, 130);
    letter-spacing: 1em;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -8px 7px transparent;
  }
  .main-logo {
    height: 10.5em;
    width: 7.5em;
    margin-right: 2em;
    box-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
  }


  .navigation-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      height: 8vh;
      top: 200;
      z-index: 1;
      color: white;
      margin-top: 2em;
    }
  .nav-logo {
    height: 4em;
    margin: 2em;
    margin-top: 1em;
    padding: .5em;
    border: 1px solid rgba(53, 69, 76, 1);
    background-color: rgba(113, 93, 94, .7);
  }


  .aboutmev2-container {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/main/blue-snowboarding.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .intro-about-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .about-title {
    font-size: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-title>h1{
    margin: 0;
    color: rgba(53, 69, 76, 1);
    text-shadow: 1px 5px 6px rgba(0,0,0,0.6),
                 0px -5px 35px rgba(255,255,255,0.2);
  }
  .descriptionV2 {
    width: 50vw;
    margin: 3em;
    color: white;
    background-color: rgba(113, 93, 94, .9);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0px 5px 35px 15px rgba(50, 60, 76, 0.8);
  }
  .descriptionV2>p {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: .05em;
  }


  .projects-containerv2 {
    height: 100vh;
    width: 100vw;
    /* background-image: url('./assets/images/IMG_0913.JPG'); */
    background-image: url('./assets/images/nathan-anderson-152403.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .projects-wrapperv2 {
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }
  .project-box {
    height: 45vh;
    width: 45vw;
    /* background-color: rgba(155,155,0,0.2); */
    box-shadow: 5px 8px 28px #888888;
    margin: .5em;
  }
  .logo-desc {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
  }
  .project-logo {
    width: 13em;
    max-height: 12em;
    border-radius: 5px;
    margin: .5em;
    box-shadow: -5px 5px 18px black;
  }
  .project-logo:hover{
    transform: rotate(-10deg);
  }
  .pdv2 {
    /* background-color: rgba(0, 0, 0, .7); */
    background-color: rgba(255,255,255,0.2);
    color: white;
    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;
    width: 70%;
    margin: 1em;
    border-radius: 5px;
    letter-spacing: .1em;
  }
  .skill {
    max-width: 3.5em;
  }
  .python {
    background-color: black;
  }
  .skill {
    background-color: red;


  }


  .project-skills {
    align-items: center;
    display: flex;
    height: 45%;
    width: 100%;
    justify-content: center;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: rgba(255, 255, 255, .3);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 32s linear infinite;
    display: flex;
    width: calc(90px * 11);
  }
  .slider .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }


  .contactv2-container {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/main/red-blue-contact.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: rgba(53, 69, 76, 1);
    text-shadow: 1px 5px 6px rgba(0,0,0,0.6),
                 0px -5px 35px rgba(255,255,255,0.2);
    font-size: 2em;
  }
  .cardv2 {
    height: 30vh;
    width: 78vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: rgb(0, 178, 164);
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
  }
  .social-links {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    height: 15%;
  }
  .phone-emailv2 {
    width: 25vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .email, .phone {
    font-size: 2em;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: .1em;
  }
  .email:hover, .phone:hover {
    margin-bottom: .5em;
  }







  .contact-info {
      color: white;
      height: 2vh;
      width: 10vw;
      padding: 1em;
      font-size: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: .2px solid white;
    }
  .contact-info:hover {
      cursor: pointer;
    }
  .contact-info>h5 {
      font-size: 1em;
      letter-spacing: .2em;
    }
  .logo-container {
    background-color: #111;
      /* background: linear-gradient(0deg, rgb(176, 182, 188), black); */
      /* background-image: url('./assets/images/yellow.jpg'); */
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
      position: absolute;
      width: 100%;
      align-self: flex-start;
      height: 15vh;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: rgb(0, 178, 164)
    }
  .title>h1 {
      font-size: 4em;
      color: rgba(0,178,164,0.8);
      text-shadow: 0 1px 0 rgb(70, 214, 202),
               0 2px 0 rgb(1, 112, 103),
               0 3px 0 rgb(255, 255, 255),
               0 20px 20px rgba(250,250,250,.15);
    }
  .title > h1::after {
      position: absolute;
      z-index: 1;
      bottom: 15px;
      display: block;
      content: 'KYLE GIBSON';
      transform: rotateX(70deg);
      opacity: .1;
      font-style: italic;
    }
  .title>h6 {
    font-size: 1em;
    color: rgba(0,178,164,0.8);
    text-shadow: 0 1px 0 rgb(1, 112, 103),
             0 2px 0 rgb(1, 112, 103),
             0 3px 0 rgb(0, 0, 0),
             0 20px 20px rgba(0,0,0,.15);
  }
  .title > h6::after {
    position: absolute;
    z-index: 1;
    bottom: 5px;
    display: block;
    content: 'SOFTWARE ENGINEER';
    transform: rotateX(70deg);
    opacity: .1;
    font-style: italic;
  }
  .title>h1, .title>h6 {
    padding: 0;
    margin: .2em;
    letter-spacing: .5em;
  }
  .l-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 10vh;
    transition: 3s;
  }
  .hover {
    width: 3px;
    height: 72vh;
    margin-top: 3em;
    background-color: rgb(0, 178, 164);
    transition: 2s;
  }
  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -19px;
    bottom: 0px;
  }
  .arrows path {
    stroke: rgb(0, 178, 164);
    fill: transparent;
    stroke-width: 3px;
  }
  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  .logo {
    max-height: 45vh;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transition: 2s;
  }
  .logo-hover {
    max-height: 50vh;
    transition: 2s;
  }
  .logo-background {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ball {
    width: 13em;
    height: 13em;
    border-radius: 150px;
    background-color: rgb(255, 142, 0);
    background-image: radial-gradient(circle 14.8em at 0em 0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), radial-gradient(circle 6.1em at .4em .4em, rgba(255, 255, 255, .7), rgba(0, 0, 0, 0));
    position: relative;
  }
  .aboutme-container {
    background: #111;
    /* background-image: url('./assets/images/filip-zrnzevic-349229.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4em;
    padding-bottom: 0;
    padding-top: 8em;
    color: white;
  }
  .headshot {
    height: 20em;
    width: 20em;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 25px black;
  }
  .image {
    align-self: center;
    margin-top: 1em;
    background-color: transparent;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description {
    margin-top: 10em;
    width: 100%;
    letter-spacing: .2em;
    line-height: 1.5em;
    text-shadow: black;
  }
  .skills-container {
    /* background-color: #111; */
    background-image: url('./assets/images/main/red-blue-delores.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .skill-head {
    font-size: 3em;
    letter-spacing: .5em;
  }
  .tools-under {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    width: 100vw;
    margin-left: .6em;
    margin-right: .6em;
  }
  .logos-under {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    width: 100vw;
    margin-left: .6em;
    margin-right: .6em;
  }
  .languages {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .4em;
  }
  .lang-logo {
    max-height: 3em;
    margin: .1em;
    filter: grayscale(100%) drop-shadow(0 0 5px black);
  }
  .js, .python {
    max-height: 3em;
  }
  .github {
    max-height: 2.5em;
  }
  .redux, .html, .slack, .rp, .rd, .agile {
    max-height: 2em;
  }
  .react, .git, .pair, .tdd, .pivotal, .chrome {
    max-height: 1em;
  }
  .resume-contain {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid black;
    border-radius: 5px;
    padding-left: .3em;
    padding-right: .3em;
    box-shadow: inset 0 0 15px black;
    margin-top: .3em;
    background: rgb(255, 142, 0);
  }
  .download-logo {
    max-height: .5em;
    color: white;
    filter: invert(1);
  }
  .resume {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .resume>p {
    font-size: .3em;
    letter-spacing: 1em;
    margin-right: .7em;
    margin-left: 1em;
  }
  .projects-container {
    background-color: rgb(0, 178, 164);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow-x: scroll;
  }
  .scroll-button {
    height: 20vh;
    width: 10vw;
    background-color: red;
    z-index: 3;
    font-size: 10em;
    color: white;
  }
  .brunch-container {
    background-color: black;
    height: 100vh;
    /* width: 80vw; */
  }
  .slelp-container {
    background-color: red;
    height: 100vh;
    /* width: 10vw; */
  }
  .sleuth-container {
    height: 100vh;
    /* width: 10vw; */
  }
  .contact-container {
    background-color: #111;
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/images/big-phone-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .name-title {
    width: 100vw;
    color: rgb(0, 178, 164);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .name-title>h1 {
    font-size: 2em;
    letter-spacing: .2em;
    color: rgb(0, 178, 164);
    margin-bottom: .2em;
    text-decoration-color: black;
  }
  .card {
    height: 70vh;
    width: 78vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: rgb(0, 178, 164);
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
  }
  .contact-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    padding-left: .2em;
  }
  .contact-title>span {
    font-size: 1.2em;
    letter-spacing: .3em;
  }
  .contact-title>h1 {
    font-size: 2em;
    letter-spacing: .5em;
    margin: 0;
  }
  .contact-icon {
    max-height: 3em;
    margin-left: 2em;
    margin-right: 2em;
    padding: .5em;
  }
  .contact-icon:hover {
    cursor: pointer;
  }
  .contact-icon:hover {
    cursor: pointer;
    text-shadow: 0 5px 55px white;
    margin-bottom: .5em;
  }
  .phone-email {
    margin-top: 2em;
    width: 50%;
    height: 20%;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .ph-mail-icon {
    height: 1.5em;
    margin-right: .3em;
  }
  .copyright{
    display: flex;
    padding: .5em;
    align-self: flex-end;
    margin-right: 3em;
  }
  .copyright>p {
    font-size: 1em;
    margin: 0;
    color: white;
    font-style: oblique;
  }
}
