.App {
  overflow-x: hidden;
}
@media only screen and (max-width: 500px) {
  .navigation-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 10vh;
    top: 200;
    z-index: 1;
  }
  .contact-info{
    color: white;
    height: 2vh;
    width: 24vw;
    padding: 1em;
    background-color: rgba(0, 0, 0, .3);
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: .2px solid black;
    border-top: .2px solid black;
    border-bottom: .2px solid black;
    box-shadow: inset 0 0 10px black;
  }
  .contact-info > h5 {
    font-size: .7em;
    letter-spacing: .2em;
  }
  .logo-container {
    background-color: #333;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 178, 164);
  }
  .title{
    position: absolute;
    width: 100%;
    align-self: flex-start;
    height: 15vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title > h1, .title > h6 {
    padding: 0;
    padding-left: .2em;
    margin: .2em;
    letter-spacing: .4em;
  }
  .nav-line {
    position: absolute;
    z-index: 0;
    left: 50%;
    width: 3px;
    height: 70vh;
    background-color: rgb(0, 178, 164);
  }
  .l-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 10vh;
    transition: 3s;
  }
  .hover {
    width: 3px;
    height: 72vh;
    margin-top: 3em;
    background-color: rgb(0, 178, 164);
    transition: 2s;
  }
  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    bottom: 0px;
  }
  .arrows path {
    stroke: rgb(0, 178, 164);
    fill: transparent;
    stroke-width: 1.5px;
  }
  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  .logo {
    max-height: 36vh;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transition: 2s
  }
  .logo-hover {
    max-height: 46vh;
    transition: 2s;
  }
  .logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ball {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(255, 142, 0);
    background-image: radial-gradient(circle 9.5em at 0em 0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), radial-gradient(circle 5.1em at .3em .3em, rgba(255, 255, 255, .7), rgba(0, 0, 0, 0));
    position: relative;
  }
  .aboutme-container{
    background-color: white;
    color: rgb(255, 142, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  .headshot{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 25px black;
  }
  .image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-self: center;
    background-color: rgb(255, 142, 0);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description{
    width: 100%;
    letter-spacing: .1em;
    font-size: .9em;
  }
  .skills-container{
    background-color: rgb(255, 142, 0);
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .skill-head{
    font-size: 2em;
    letter-spacing: .5em;
  }
  .logos-under{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    width: 100vw;
    margin-left: .6em;
    margin-right: .6em;
  }
  .languages{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .4em;
  }
  .lang-logo{
    max-height: 3em;
    margin: .1em;
    filter: grayscale(100%) drop-shadow(0 0 5px black);
  }
  .js, .python{
    max-height: 2.5em;
  }
  .github{
    max-height: 2.5em;
  }
  .redux, .html{
    max-height: 1.3em;
  }
  .slack, .rp, .rd, .agile{
    max-height: 2em;
  }
  .react, .git{
    max-height: .8em;
  }
  .pair, .tdd, .pivotal, .chrome{
    max-height: 1em;
  }
  .resume-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid black;
    border-radius: 5px;
    padding-left: .3em;
    padding-right: .3em;
    box-shadow: inset 0 0 5px black;
    margin-top: .3em;
    background-color: #333;
  }
  .download-logo{
    max-height: .5em;
    color: white;
    filter: invert(1);
  }
  .resume{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .resume > p {
    font-size: .2em;
    letter-spacing: 1em;
    margin-left: 1em;
  }
  .projects-container {
    background-color: rgb(0, 178, 164);
    height: 100vh;
    width: 100vw;
  }
  .contact-container{
    height: 100vh;
    width: 100vw;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card{
    height: 40vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    color: rgb(0, 178, 164);
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
  }
  .contact-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 50%;
    border-bottom: 3px solid rgb(0, 178, 164);
  }
  .contact-title > span {
    font-size: 1.1em;
    letter-spacing: .3em;
  }
  .contact-title > h1 {
    font-size: 1.8em;
    letter-spacing: .5em;
    margin: 0;
  }
  .social-links {
    width: 80%;
    margin: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .contact-icon{
    max-height: 1.8em;
    max-width: 6em;
    margin: 0;
    padding: .5em;
    border: .2px solid rgb(255, 142, 0);
    box-shadow: 0 0 55px black;
    background-color: rgba(255, 255, 255, .2);
  }
  .contact-icon:hover{
    cursor: pointer;
  }
  .phone-email{
    width: 98%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .email, .phone{
    font-size: .8em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.2em;
    text-decoration: none;
    color: rgb(0, 178, 164);
    text-align: center;
    padding: .2em;
    width: 40vw;
    border: .2px solid rgb(0, 178, 164);
    box-shadow: 0 0 25px black;
  }
  .email:hover, .phone:hover{
    box-shadow: inset 0 0 15px 2px black;
    border: 1px solid rgb(0, 178, 164);
  }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .navigation-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 10vh;
    top: 200;
    z-index: 1;
  }
  .contact-info{
    color: white;
    height: 2vh;
    width: 20vw;
    padding: 1em;
    background-color: rgba(0, 0, 0, .3);
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: .2px solid black;
    border-top: .2px solid black;
    border-bottom: .2px solid black;
    box-shadow: inset 0 0 10px black;
  }
  .contact-info:hover{
    cursor: pointer;
  }
  .contact-info > h5 {
    font-size: 1em;
    letter-spacing: .2em;
  }
  .logo-container {
    background-color: #333;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title{
    position: absolute;
    width: 100%;
    align-self: flex-start;
    height: 15vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 178, 164)
  }
  .title > h1{
    font-size: 4em;
  }
  .title > h6 {
    font-size: 1em;
  }
  .title > h1, .title > h6 {
    padding: 0;
    margin: .2em;
    letter-spacing: .5em;
  }
  .nav-line {
    position: absolute;
    z-index: 0;
    left: 50%;
    width: 3px;
    height: 70vh;
    background-color: rgb(0, 178, 164);
  }
  .l-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 10vh;
    transition: 3s;
  }
  .hover {
    width: 3px;
    height: 72vh;
    margin-top: 3em;
    background-color: rgb(0, 178, 164);
    transition: 2s;
  }
  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    bottom: 0px;
  }
  .arrows path {
    stroke: rgb(0, 178, 164);
    fill: transparent;
    stroke-width: 1.5px;
  }
  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  .logo {
    max-height: 25vh;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transition: 2s;
  }
  .logo-hover {
    max-height: 35vh;
    transition: 2s;
  }
  .logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ball {
    width: 14em;
    height: 14em;
    border-radius: 150px;
    background-color: rgb(255, 142, 0);
    background-image: radial-gradient(circle 13.5em at 0em 0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), radial-gradient(circle 6.1em at .4em .4em, rgba(255, 255, 255, .7), rgba(0, 0, 0, 0));
    position: relative;
  }
  .aboutme-container{
    background-color: white;
    color: rgb(255, 142, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4em;
  }
  .headshot{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 25px black;
  }
  .image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-self: center;
    margin-top: 1em;
    background-color: rgb(255, 142, 0);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description{
    margin-top: 3em;
    width: 100%;
    letter-spacing: .2em;
    line-height: 1.5em;
  }
  .skills-container{
    background-color: rgb(255, 142, 0);
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .skill-head{
    font-size: 3em;
    letter-spacing: .5em;
  }
  .tools-under{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    width: 100vw;
    margin-left: .6em;
    margin-right: .6em;
  }
  .logos-under{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    width: 100vw;
    margin-left: .6em;
    margin-right: .6em;
  }
  .languages{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .4em;
  }
  .lang-logo{
    max-height: 3em;
    margin: .1em;
    filter: grayscale(100%) drop-shadow(0 0 5px black);
  }
  .js, .python{
    max-height: 4em;
  }
  .rd, .agile{
    max-height: 3em;
  }
  .redux, .html, .slack, .rp, .pair, .tdd{
    max-height: 2em;
  }
  .react, .git, .pivotal, .chrome{
    max-height: 1em;
  }
  .resume-contain{
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid black;
    border-radius: 5px;
    padding-left: .3em;
    padding-right: .3em;
    box-shadow: inset 0 0 15px black;
    margin-top: .3em;
    background-color: #333;
  }
  .download-logo{
    max-height: .5em;
    color: white;
    filter: invert(1);
  }
  .resume{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .resume > p {
    font-size: .2em;
    letter-spacing: 1em;
    margin-right: .5em;
    margin-left: 1em;
  }
  .projects-container {
    background-color: rgb(0, 178, 164);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
  .brunch-container, .slelp-container, .sleuth-container{
    height: 100vh;
    width: 100vw;
    z-index: 0;
  }
  .brunch-container{
    background-color: black;

  }
  .slelp-container{
    background-color: red;
  }
  .sleuth-container{
    background-color: white;
  }
  .contact-container{
    height: 50vh;
    width: 100vw;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card{
    height: 30vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    color: rgb(0, 178, 164);
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
  }
  .contact-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 50%;
    border-bottom: 4px solid rgb(0, 178, 164);
  }
  .contact-title > span {
    font-size: 1.2em;
    letter-spacing: .3em;
  }
  .contact-title > h1 {
    font-size: 2em;
    letter-spacing: .5em;
    margin: 0;
  }
  .social-links {
    width: 80%;
    margin: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .contact-icon{
    max-width: 8em;
    margin: 0;
    padding: .5em;
    border: .2px solid rgb(255, 142, 0);
    box-shadow: 0 0 55px black;
    background-color: rgba(255, 255, 255, .2);
  }
  .contact-icon:hover{
    cursor: pointer;
  }
  .phone-email{
    width: 80%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .email, .phone{
    font-size: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.2em;
    text-decoration: none;
    color: rgb(0, 178, 164);
    text-align: center;
    padding: .2em;
    width: 18vw;
    border: .2px solid rgb(0, 178, 164);
    box-shadow: 0 0 25px black;
  }
  .email:hover, .phone:hover{
    box-shadow: inset 0 0 15px 2px black;
    border: 1px solid rgb(0, 178, 164);
  }
}

@media only screen and (min-width: 1025px) {
  .navigation-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 10vh;
    top: 200;
    z-index: 1;
  }
  .contact-info{
    color: white;
    height: 2vh;
    width: 10vw;
    padding: 1em;
    background-color: rgba(0, 0, 0, .3);
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: .2px solid black;
    border-top: .2px solid black;
    border-bottom: .2px solid black;
    box-shadow: inset 0 0 10px black;
  }
  .contact-info:hover{
    cursor: pointer;
  }
  .contact-info > h5 {
    font-size: 1em;
    letter-spacing: .2em;
  }
  .logo-container {
    background-color: #333;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title{
    position: absolute;
    width: 100%;
    align-self: flex-start;
    height: 15vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 178, 164)
  }
  .title > h1{
    font-size: 4em;
  }
  .title > h6 {
    font-size: 1em;
  }
  .title > h1, .title > h6 {
    padding: 0;
    margin: .2em;
    letter-spacing: .5em;
  }
  .l-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 10vh;
    transition: 3s;
  }
  .hover {
    width: 3px;
    height: 72vh;
    margin-top: 3em;
    background-color: rgb(0, 178, 164);
    transition: 2s;
  }
  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -19px;
    bottom: 0px;
  }
  .arrows path {
    stroke: rgb(0, 178, 164);
    fill: transparent;
    stroke-width: 3px;
  }
  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  .logo {
    max-height: 45vh;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transition: 2s;
  }
  .logo-hover {
    max-height: 50vh;
    transition: 2s;
  }
  .logo-background {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ball {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    background-color: rgb(255, 142, 0);
    background-image: radial-gradient(circle 14.8em at 0em 0, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), radial-gradient(circle 6.1em at .4em .4em, rgba(255, 255, 255, .7), rgba(0, 0, 0, 0));
    position: relative;
  }
  .aboutme-container{
    background-color: white;
    color: rgb(255, 142, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4em;
  }
  .headshot{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 25px black;
  }
  .image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-self: center;
    margin-top: 1em;
    background-color: rgb(255, 142, 0);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description{
    margin-top: 3em;
    width: 100%;
    letter-spacing: .2em;
    line-height: 1.5em;
    text-shadow: black;
  }
  .skills-container{
    background-color: rgb(255, 142, 0);
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .skill-head{
    font-size: 3em;
    letter-spacing: .5em;
  }
  .tools-under{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    width: 100vw;
    margin-left: .6em;
    margin-right: .6em;
  }
  .logos-under{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    width: 100vw;
    margin-left: .6em;
    margin-right: .6em;
  }
  .languages{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .4em;
  }
  .lang-logo{
    max-height: 3em;
    margin: .1em;
    filter: grayscale(100%) drop-shadow(0 0 5px black);
  }
  .js, .python{
    max-height: 3em;
  }
  .github{
    max-height: 2.5em;
  }
  .redux, .html, .slack, .rp, .rd, .agile{
    max-height: 2em;
  }
  .react, .git, .pair, .tdd, .pivotal, .chrome{
    max-height: 1em;
  }
  .resume-contain{
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid black;
    border-radius: 5px;
    padding-left: .3em;
    padding-right: .3em;
    box-shadow: inset 0 0 15px black;
    margin-top: .3em;
    background-color: #333;
  }
  .download-logo{
    max-height: .5em;
    color: white;
    filter: invert(1);
  }
  .resume{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .resume > p {
    font-size: .3em;
    letter-spacing: 1em;
    margin-right: .7em;
    margin-left: 1em;
  }
  .projects-container {
    background-color: rgb(0, 178, 164);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow-x: scroll;
  }
  .scroll-button{
    height: 20vh;
    width: 10vw;
    background-color: red;
    z-index: 3;
    font-size: 10em;
    color: white;
  }
  .brunch-container{
    background-color: black;
    height: 100vh;
    width: 95vw;
    z-index: 0;
  }
  .slelp-container{
    background-color: red;
    height: 100vh;
    width: 95vw;
    z-index: 0;
  }
  .sleuth-container{
    height: 100vh;
    width: 95vw;
    z-index: 0;
  }
  .contact-container{
    height: 50vh;
    width: 100vw;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card{
    height: 40vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    color: rgb(0, 178, 164);
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, .7), 0 17px 17px 0 rgba(0, 0, 0, .5);
  }
  .contact-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 50%;
    border-bottom: 3px solid rgb(0, 178, 164);

  }
  .contact-title > span {
    font-size: 1.2em;
    letter-spacing: .3em;
  }
  .contact-title > h1 {
    font-size: 2.5em;
    letter-spacing: .5em;
    margin: 0;
  }
  .social-links {
    width: 80%;
    margin: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .contact-icon{
    max-width: 8em;
    margin: 0;
    padding: .5em;
    border: .2px solid rgb(255, 142, 0);
    box-shadow: 0 0 55px black;
    background-color: rgba(255, 255, 255, .2);
  }
  .contact-icon:hover{
    cursor: pointer;
    max-width: 8.1em;
    box-shadow: 0 5px 55px black;
  }
  .phone-email{
    width: 80%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .email, .phone{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.2em;
    text-decoration: none;
    color: rgb(0, 178, 164);
    text-align: center;
    padding: .2em;
    width: 18vw;
    border: .2px solid rgb(0, 178, 164);
    box-shadow: 0 0 25px black;
  }
  .email:hover, .phone:hover{
    box-shadow: inset 0 0 15px 2px black;
    border: 1px solid rgb(0, 178, 164);
  }
}
